body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.banner {
  width: 100%;
  height: 669px;
  background-color: aqua;
  background-image: url(donation13.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 669px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.banner-text {
  text-align: center;
}

.banner-text h2 {
  margin: 0;
  color: white;
  font-size: 65px;
  line-height: 79px;
  text-align: center;
}

.banner-text p {
  color: white;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.banner-text button {
  padding: 16px 12px;
  color: white;
  border: 0;
  border-radius: 5px;
  background-color: #ff5959;
}

.donate-section {
  margin-top: 130px;
  text-align: center;
}

.donate-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-text p {
  width: 50%;
}

.donate-section small {
  color: #b3b3b3;
}

.donate-section hr {
  color: #b3b3b3;
  width: 50%;
}

.payment-button button {
  width: 135px;
  height: 123px;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  color: #707070;
  background-color: #fafafa;
  border: 0;
  border-radius: 10px;
}

.payment-button button:hover {
  transition: 0.4s;
  background-color: #ffeeee;
  color: #ff5959;
}

.donate-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-plan h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: start;
}

.donate-plan p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #707070;
}

#first-plan {
  margin-left: 150px;
  background-color: rgba(79, 157, 166, 0.1);

  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
#second-plan {
  background-color: rgba(255, 89, 89, 0.1);

  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
#third-plan {
  margin-right: 150px;
  background-color: rgba(222, 233, 66, 0.1);

  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.font {
  font-size: 50px;
  text-align: start;
}

.footer {
  background-color: #0b0d17;
  text-align: center;
  padding: 10px;
}

.footer h2 {
  font-family: "Lato", sans-serif;
  font-family: "The Nautigal", cursive;
  color: #ff5959;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}
.footer p {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
